
body {
    max-width : 100%;
    margin : 0 auto;

}
header{
    display: flex;
    padding: 5px;
    color: #efefef;
    background-color: #2d2d2d;
    border-bottom: solid 1pc #000;
}
main{
    flex: 1;
    text-align: center;
    place-items: center;
}
main ul li{
 list-style: none;
}
