
body {
    max-width : 500px;
    margin : 0 auto;

}
header{
    display: flex;
    padding: 5px;
    color: #efefef;
    background-color: #2d2d2d;
    border-bottom: solid 1pc #000;
}
main{
    flex: 1;
}
